<div class="w-full">
    <div class="topbar-container">
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/scanner/blocks">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-box" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Block
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/scanner/accounts">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-key" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Accounts
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/scanner/validators">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-users" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Validators
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/scanner/scripts">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-code" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Script
                    </span>
                </div>
            </ng-template>
        </p-button>
    </div>
</div>